@if (likedArticle) {
  <app-notification [title]="likedArticleName"></app-notification>
}

  <!-- Integrate title -->
  <h1>Hello, {{ title }}</h1>
  <p>Congratulations! Your app is running. 🎉</p>


  <!-- Check if one article is published -->
  @if(isPublishedArticle){
    <!-- Mapping all articles -->
    @for (article of articles; track $index) {
      <!-- Sending props to article component -->
      <app-article (like)="likeArticle($event)" [isOneArticle]="isOneArticle" [article]="article"></app-article>

    } @empty {
    <!-- Not found any data, card not published -->
    <p>Aucunes cartes trouvées !</p>
    }
  }@else{
    <!-- Not found any data, card not published -->
    <p>Aucunes cartes trouvées !</p>
  }
