<!-- Check if article is published -->
@if(article.isPublished){
  <!-- Display only published article -->
  <div [hidden]="!article.isPublished">
    <article class="article">
      <!-- Check if likes is over 100, adding a second class popular -->
      <h1 class="article-title" [ngClass]="{'popular-article' : article.likes > 100}">{{ article.title }}</h1>
      <img [src]="article.image" />
      <p class="article-content">{{ article.content }}</p>
      <section class="article-author">
        <p class="article-author">{{ article.author }}</p>
        <p>Likes : {{article.likes}}</p>
      </section>
      <section [hidden]="!article.comment">
        <h2>Quelqu'un a écrit : </h2>
        <p>{{article.comment}}</p>
      </section>
    </article>
  </div>

  <section class="article-option">
    <!-- Button to change status : published article -->
    <button (click)="togglePublication()">
      {{ article.isPublished ? "Masquer" : "Afficher" }} l'article
    </button>

  <!-- Display only published article -->
    <div [hidden]="!article.isPublished">
      <section class="article-comment" sub>
        <input type="text" [(ngModel)]="article.comment" />
        <button type="submit" class="button-submit" (click)="createComment($event)">
         Commenter
        </button>
      </section>
    </div>
  </section>
}
