<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <!-- Integrate title -->
  <h1>Hello, {{ title }}</h1>
  <p>Congratulations! Your app is running. 🎉</p>

  <!-- Check if one article is published -->
  @if(isPublishedArticle()){
    <!-- Mapping all articles -->
    @for (article of articles; track $index) {
      <!-- Sending props to article component -->
      <app-article [article]="article"></app-article>
    } @empty {
    <!-- Not found any data, card not published -->
    <p>Aucunes cartes trouvées !</p>
    }
  }@else{
    <!-- Not found any data, card not published -->
    <p>Aucunes cartes trouvées !</p>
  }
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
